<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        Km: <input type="text" name="km" id="km" v-model="km" @input="inputKm"> <br>
        m: <input type="text" name="m" id="m" v-model="m" @input="inputM"> 
    </div>
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="otroScript.js" defer></script>
</html>