<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Batalla</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <div id="app">
    <header>
      <h1>Batalla</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monstro</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="{ width: enemyHealth + '%', backgroundColor: pocaVidaEnemy}"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Vostede</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="{ width: playerHealth + '%', backgroundColor: pocaVidaPlayer}"></div>
        </div>
      </section>
      <section class="container" v-if="showEndGame">
        <h2 v-if="fin">Fin partida!</h2>
        <h3 v-if="perder">Perdiches!</h3>
        <h3 v-if="ganar">Ganaches</h3>
        <h3 v-if="empatar">Empate</h3>
        <button @click="restartGame">Novo xogo</button>
      </section>
      <section id="controls">
        <button :disabled="deshabilitar" @click="atacar">ATAQUE</button>
        <button :disabled="cooldown" @click="ataqueCritico">ATAQUE ESPECIAL</button>
        <button :disabled="deshabilitar" @click="curar">CURACIÓN</button>
        <button :disabled="deshabilitar" @click="rendirse">RENDERSE</button>
      </section>
      <section id="log" class="container">
        <h2>Rexistro da batalla</h2>
        <ul v-for="elemento in elementos">
          <li> {{ elemento }} </li>
        </ul>
      </section>
    </div>
  </div>
</body>

</html>